<div class="row">
  <div class="col-6">
    <!--    <p>Task-list</p>-->
    <ul>
      <h3>{{ getCurrentDateWithDay() }}</h3>
    </ul>
    <div class="col-8 mt-5   mb-0 mt-5 d-flex justify-content-center align-items-center">
      <img alt="item" [src]="itemImageUrl" [style.width.px]="imageWidth">
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Task</th>
      </tr>
      </thead>
      <tbody>
      <!--  *ngFor directive to loop through the tasks array.-->
      <tr *ngFor="let task of tasks; let i = index">
        <td>{{ i + 1 }}</td> <!-- Displaying the task index (1-based) -->
        <td>{{ task | uppercase }}</td> <!--  | pipe -->
      </tr>
      </tbody>
    </table>
  </div>
</div>
<button class="btn btn-danger" (click)="onSubmit()" [disabled]="!isActive">Submit</button>

